*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}


.main1:after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: rgb(49, 97, 224);
    height: 80px;
}


header nav{
    float: left;
    text-align: center; 
}

.header-logo{
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-left: 350px;
}

.nav1{
    width: 60%;
}

.accedi{
    float:right;
    padding-top: 20px;
    padding-right: 320px; 
}

ul{
    text-align: center;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 30px;
    color: white;
}

header button{
    border-radius: 30px;
    border: none;
    padding: 10px;
    background: white;
    border: none;  
}

.jumpo{
    width: 100%;
}

.text-header{
    background-size: cover;
    background-image: url(/img/jumbo.png);
    text-align: center;
    height: 600px;
    
}
.main-text{
    position: absolute;
    color: white;
    text-align: center;
    top: 180px;
    left: 30%;
    font-size: 20px;
    margin-bottom: 30px;
    width: 37%;
}
.main-text h1{
    margin-bottom: 30px;
    font-size: 50px;
}
.main-button{
    text-align: center;
}

.main-button {
    position: absolute;
    text-align: center;
    top: 380px;
    left: 35%;
}
.main-button  a{
    margin: 0 20px;
    padding: 13px 20px;
    border-radius: 20px 20px;
    text-decoration: none;
}
.main-button  a:first-child{
    background-color: white;
    color: black;
}
.main-button a:last-child{
    background-color: #23272a;
    color: white;
}

main{
    margin-top: 150px;
}
.menù:after{
    content: "";
    display: table;
    clear: both;
}
.menù{
    width: 80%;
    padding-left: 300px;
    margin-top: 100px;
}
h2{
    padding-left: 20px;
    padding-top: 30px;
    font-size: 40px;
    margin: 30px;
}

.text-main{
    height: 500px;
    
}
.image1 img{
    float: left;
}
.image2 img{
    float: right;
}

.footer-box{
    background-color: rgb(35, 39, 42);
    height: 500px;
}
.sotto-menù{
    width: 90%;
    padding-left: 300px;
    text-align: center;
}
.star{
    padding-bottom: 150px;
    padding-top: 50px;
    text-align: center;
    font-size: 31px;
    font-weight: bold;
}

.star-button{
    padding-top: 25px;
}

.star a:last-child{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(141, 161, 225);
    margin: 0 20px;
    padding: 13px 20px;
    border-radius: 20px 20px;
}